:root {
    --primary-color: #248277;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

hr {
    margin: 2rem 0rem;
}


.margin-md {
    margin: 2rem;
}

/* container */
.container {
    /* padding: 0rem 1rem; */
    padding: 1.5em;

}

.container-center {
    max-width: 900px;
    width: 100%;
    margin: auto;

}

@media (max-width: 675px) {

    /* .container-center{
        max-width: 675px;
    } */

}   


/* links */
.link {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    margin: 1rem auto;
    color: #fff;
    border-radius: 2rem;
    transition: all 0.2s ease 0s;
}

.link-secondary {
    margin: 1rem auto;
    max-width: 140px;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    padding: 0.6rem 1.2rem;
    color: var(--primary-color);
    transition: all 0.2s ease 0s;
}

.link-primary:hover,
.link-secondary:hover {
    background-color: #343a40;
    color: #fff;
}

.home-links {
    margin-top: 0.5em;
}

.project-links {
    margin: 0.65em;

}


/* lists */

.list-non-bullet {
    padding-inline-start: 0px;
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* .list-item-block{
    display: block;
} */



/*============
  Navigation 
 =============*/

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 2rem;
    padding: 1.5em;
    letter-spacing: 2px;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation .nav-brand {
    font-size: 2rem;
    font-weight: 500;
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
}

.navigation .nav-pills {
    text-align: right;
    margin: 0.6rem 3rem;
}

.navigation .link {
    color: #fff;
    position: relative;
    margin-right: 1em;
    padding: 0;
    padding-bottom: 0.25em;
    letter-spacing: 2px;
    animation: list-item 900ms 1000ms ease;

}

.navigation .link-active {
    font-weight: bold;
}

.navigation .link::after {
    background-color: #fff;
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    transition: 0.3s;
    width: 0;
}

.navigation .link:hover::after {
    width: 100%;
}

@media (max-width: 675px) {

    .navigation {
        /* flex-direction: column; */
        /* text-align:left; */
        border: 2px solid red;
        width: 100%;
        padding:0.3em 1.5em;
    }

    .navigation .nav-pills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .list-item-inline {
        margin-top: 0.5em;

    }

}



/*==========
   Header
 =========== */

.hero {
    max-width: 90%;
    margin: 0 auto;
    padding: 3.5rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
}


.hero .hero-img {
    max-width: 75%;
    margin: auto;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;

}

.hero .hero-heading {
    color: var(--dark-gray);
    padding-top: 1rem;
    font-size: 2.2rem;
    margin-right: 0;
    
}

.hero .hero-about {
    letter-spacing: 1px;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.ls {
    margin-bottom: 0;
    padding: 0;
}

@media (max-width: 675px) {

    .hero {
        flex-direction: column;
    }
    .hero .hero-img {
        order: -1;
    }
    .hero .hero-heading{
        order: -2;
    }
    .hero .hero-heading .heading-inverted {
        display: block;
    }
}



/** sections **/

.section {
    /* text-align: center; */
    padding: 2rem 0;
    margin: 1.5rem 0;
    border-radius: 1rem;

}

.section .section-heading {
    text-align: left;
    color: var(--dark-gray);
    font-size: 1.75rem;
    margin: 0;
}

.ow {
    background-color: var(--off-white);
}


/*==============
 Skills section 
 ===============*/

.skill-container {
    max-width: 70%;
    width: 550px;
}

.skill {
    padding: 0rem 0.75rem;
    margin-right: 0;
}

.skill-container ul {
    padding: 0;
    display: flex;
    justify-content: space-around;

}



/* --------------
Contact section
-----------------*/

.section-contact {
    color: #fff;
    margin: 3.5em 0;

}

.section-contact h2 {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--dark-gray);
    width: 20%;
    margin: 0.5em auto 0.75em;
}

.form-container {
    max-width: 420px;
    width: 40%;
    margin: 0 auto 1em;
    background-color: var(--off-white);
    padding: 1.5em;

}

.form-container label {
    display: block;
    letter-spacing: 2px;
    font-size: 1.125rem;
    color: #000;
}

.form-container textarea {
    resize: none;
}

.form-container textarea,
.form-container .input-field {
    font-size: 1.1rem;
}

.form-container .input-field {
    /* background-color: #e9f5db; */
    width: 100%;
    border: 1px solid #dee2e6;
    outline: none;
    border-radius: 5px;
    padding: 0.55em 0 0.55em 0.5em;
    margin: 0.8em 0;

}

.form-btn {
    width: 100%;
    background-color: #248277;
    border: none;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 0.75em 0;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.2s ease 0s;

}

.form-btn:hover {
    background-color: #343a40;
}


@media (max-width: 675px) {

    .section-contact h2 {
        width: 50%;
    }
    .form-container{
        /* border: 2px solid red; */
        width: 60%;
        background-color: #fff;
    }
}

/*===========
   Footer 
 ============  */

.footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 1.1rem 1rem;
    border-top-right-radius: 2rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}


.footer .social-icon {
    max-width: 2em;
    padding: 0.25em;
    margin: 0 0.5em;
    transition: transform 120ms;
}


.footer .social-icon:hover {
    /* background-color: var(--off-white); */
    /* border-radius: 12px; */
    transform: scale(1.1);

}

@media (max-width: 675px) {
    
    .footer{
        width:100%;
    }
}    

/*--- project ---*/

.showcase-list {
    text-align: center;
    padding: 2em;
    border-radius: 13px;
    margin: 1em auto;
}

.showcase-list h1 {
    margin: 0;
    margin-bottom: 0.25em;
    color: var(--dark-gray);
}

.showcase-list p {
    padding-bottom: 0.5em;
    margin-bottom: 0;

}

.project-last {
    margin-bottom: 3em;

}

/* ---blogs--- */

.showcase-blog {
    padding: 1.25em;
    margin-bottom: 2.5em;
    border-radius: 10px;
}

.heading-blog {
    margin-top: 0;
    color: var(--dark-gray);
}


/*  ---Media queries--- */

/* @media (max-width: 900px) {
    body {
      max-width: 95%;
      width: 100%;
    }
  
    .list-item-inline {
      display: inline;
      padding: 0rem;
    }
  
    .container-center {
      width: auto;
    }
  
    .link-primary {
      display: block;
    }
} */